body {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

.nav_bar{
    background-color:white;
    color:black;
    height:45px;
    width:100%;
    padding:0px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}

.apple_logo{
    width:20px;
    padding:5px;
    margin-left:175px;
    display:flex:center;
    padding-top:15px;
    padding-bottom:15px;
}

.nav_options{
    color:black;
    display:flex;
    align-items:center;
   display:flex;
   margin-right:900px;
   gap:30px;
}

.nav_options li{
    display:flex;
}

.search_icon{
    width:40px;
    height:35px;
}

.shop_bag_icon{
    width:35px;
    height:30px;
}