body {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

.nav_bar{
    background-color:white;
    color:black;
    height:45px;
    width:100%;
    padding:0px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}


.apple_logo{
    width:20px;
    padding:5px;
    margin-left:175px;
    display:flex:center;
    padding-top:15px;
    padding-bottom:15px;
}

.nav_options{
    color:black;
    display:flex;
    align-items:center;
   display:flex;
   margin-right:900px;
   gap:30px;
}

.nav_options li{
    display:flex;
}

.search_icon{
    width:40px;
    height:35px;
}

.shop_bag_icon{
    width:35px;
    height:30px;
}

.hero_section{
    background-color:rgba(233, 230, 230, 0.664);
    height:759px;
    display:flex;
}

.brand_name{
    margin-left:150px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:55px;
    margin-bottom:0px;
}

.brand_subtitle{
    display:flex;
    margin-left:495px;
    font-size:25px;
    margin-top:0px;
}

.brand_wrapper{
    text-align:center;
}

.learnmore_button{
    width:100px;
    height:40px;
    color:white;
    background-color:hsl(231, 79%, 52%);
    margin-left:150px;
    border-radius:999px;
    box-sizing:border-box;
    border:20px;
}
.learnmore_button:hover{
    background-color:hsl(231, 80%, 57%);
    cursor:pointer;
}

.shopiphone_button{
    color:hsl(231, 80%, 57%);
    background-color:white;
    width:100px;
    height:40px;
    border-radius:999px;
    box-sizing:border-box;
    border:20px;
    margin-left:50px;
}
.shopiphone_button:hover{
    cursor:pointer;
    background-color:hsl(231, 80%, 57%);
    color:white;
}

.brand_subtitle2{
    font-size:larger;
    background:linear-gradient(#2e8cd8,#2949bd);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    margin-left:150px;
}
.gradient{
    font-size:larger;
    background:linear-gradient(#9025be,#be2550,#d8122e,#ec5d24,#ecb024);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.iphone_sale_picture{
    display:flex;
    align-items:start;
    margin-left:150px;
    justify-content: center;
    height:800px;
    overflow:hidden;
}
.iphone_sale_picture_wrap{
    height:500px;
    overflow:hidden;
}
.iphone_sale_picture_wrap img {
    height:800px;
    width:auto;
    display:block;
}

.second_div{
    margin-top:10px;
    background-color:rgba(233, 230, 230, 0.664);
    height:759px;
}

.iphone_trade_img{
    display:flex;
    justify-content:center;
    padding:0px;
    width:1910px;
    height:759px;
    display:block;
}

.apple_logo2{
    width:50px;
    margin-left:775px;
    display:flex:center;
    justify-content:center;
    top:830px;
    position:absolute;
}

.trade_in{
    margin-left:820px;
    top:780px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:55px;
    position:absolute;
}
.trade_in_subtitle{
    margin-left:750px;
    top:875px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    position:absolute;
}
.trade_in_subtitle2{
    margin-left:765px;
    top:900px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    position:absolute;
}
.trade_in_subtitle3{
    margin-left:845px;
    top:950px;
    color:rgb(114, 114, 114);
    font-size:20px;
    position:absolute;
}
.get_your_estimate{
    width:125px;
    height:40px;
    top:1000px;
    color:white;
    background-color:hsl(231, 79%, 52%);
    margin-left:855px;
    border-radius:999px;
    box-sizing:border-box;
    border:20px;
    position:absolute;
}
.get_your_estimate{
    background-color:hsl(231, 80%, 57%);
    cursor:pointer;
}

.third_div{
    margin-top:10px;
    background:linear-gradient(#c9f2ff,#c9f2ff,#d8f3fd,white);
    height:759px;
}

.macbookair_img{
    display:flex;
    margin-left:350px;
    padding:255px;
}

.macbookair_text{
    margin-left:770px;
    top:1600px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:55px;
    position:absolute;
}

.macbookair_subtitle{
    margin-left:845px;
    top:1690px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    position:absolute;
}

.macbookair_subtitle2{
    margin-left:775px;
    top:1725px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    position:absolute;
}

.learnmore_button2{
    position:absolute;
    width:100px;
    height:40px;
    color:white;
    background-color:hsl(231, 79%, 52%);
    margin-left:825px;
    top:1800px;
    border-radius:999px;
    box-sizing:border-box;
    border:20px;
}
.learnmore_button2:hover{
    background-color:hsl(231, 80%, 57%);
    cursor:pointer;
}

.buy_button{
    position:absolute;
    box-sizing:border-box;
    border-radius:999px;
    border:20px;
    color:hsl(231, 79%, 52%);
    border-color:hsl(231, 79%, 52%);
    background-color:white;
    height:40px;
    width:100px;
    top:1800px;
    margin-left:965px;
}
.buy_button:hover{
    color:white;
    background-color:hsl(231, 79%, 52%);
}
.brand_subtitle3{
    font-size:larger;
    background:linear-gradient(#2e8cd8,#2949bd);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    margin-left:850px;
    position:absolute;
    top:2200px;
}
.gradient2{

}